<form [formGroup]="form">
    <div class="form-group">
        <label>Nombre:</label>
        <input class="form-control" formControlName="nombreUsuario" type="text">
    </div>
    
    <div class="form-group">
        <label>descripcion:</label>
        <input class="form-control" formControlName="descripcionUsuario" type="text">
    </div>
    
    <div class="form-group">
        <label>Edad:</label>
        <input class="form-control" formControlName="edadUsuario" type="text">
    </div>

    <div class="form-group">
        <label>Ciudad:</label>
        <input class="form-control" formControlName="ciudadUsuario" type="text">
    </div>


    <div class="form-group">
        <label>Ciudad:</label>
        <input class="form-control" formControlName="imagenUsuario" type="text">
    </div>

    <button type="submit"
            [disabled]="form.pristine || form.invalid" 
            class="btn btn-success">
        Guardar
    </button>
</form>