<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="usuarios/header :: head">
</head>
<body>
	<div th:replace="usuarios/header :: navBar"></div>

	<main role="main" class="container">

	<div class="starter-template">
		<h1>Usuarios registrados</h1>
	</div>
	<div>
		<table class="table table-striped">
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Edad</th>
				<th>Localidad</th>
				<th>Sexo</th>
			</tr>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.nombreUsuario}">1</td>
				<td th:text="${usuario.descripcionUsuario}">1</td>
				<td th:text="${usuario.edadUsuario}">1</td>
				<td th:text="${usuario.ciudadUsuario}">1</td>
				<td><a><i th:if="${usuario.sexoUsuario}"
						class="fa fa-female"></i></a> <a><i
						th:if="${!usuario.sexoUsuario}" class="fa fa-male"></i></a></td>
			</tr>
		</table>


	</div>

	</main>
	<!-- /.container -->
	<!-- 
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	 -->
</body>
</html>