
	<div th:fragment="navBarNoUsuario" >
		<nav class="navbar navbar-light  bg-dark fixed-top" id="mainNav">
		    <div class="container">
		      <a class="navbar-brand text-light js-scroll-trigger" th:href="@{/}">LUCA TINDER</a>
		     
		      <div id="navbarResponsive">
		        <ul class="navbar-nav ml-auto">
		          <li class="nav-item">
		            <a class="text-light nav-link js-scroll-trigger" href="#projects">Acceder</a>
		          </li>
		        </ul>
		      </div>
		    </div>
 		 </nav>
	</div>
