<div class="col col-md-6">
    <form [formGroup]="form" novalidate>
        <div class="form-group">
            <label>Nombre:</label>
            <input class="form-control" formControlName="nombreUsuario" type="text">
        </div>
        
        <div class="form-group">
            <label>descripcion:</label>
            <input class="form-control" formControlName="descripcionUsuario" type="text">
        </div>
        
        <div class="form-group">
            <label>Edad:</label>
            <input class="form-control" formControlName="edadUsuario" type="number" min="18">
        </div>
    
        <div class="form-group">
            <label>Ciudad:</label>
            <input class="form-control" formControlName="ciudadUsuario" type="text">
        </div>
    
        <div class="form-group">
            <label>Sexo:</label>
            <select formControlName="sexoUsuario" >
              <option [ngValue]="false">Hombre</option>
              <option [ngValue]="true">Mujer</option>
            </select>
        </div>
    
        <div class="form-group">
            <label>Url imagen:</label>
            <input class="form-control" formControlName="imagenUsuario" type="text">
        </div>
    
        <button type="submit"
                [disabled]="form.pristine || form.invalid" 
                class="btn btn-success"
                (click)="altaUsuario(form)"
                >
            Guardar
        </button>
    </form>
    </div>