<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>LUCA TINDER</title>
	
	<link href="..\static\css\bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link href="..\static\css\estilosPersonalizadoscss" rel="stylesheet" th:href="@{/css/estilosPersonalizados.css}" />
</head>
<body>

	<div th:replace="usuarios/componentes :: navBarUsuario"></div>
	
	<div id="confirmaEliminacionUsu" class="row d-flex align-items-center ">
		<div class="col-2"></div>
		<div id="bloqueConfirmacion" class="col-8 bg-light p-4 d-flex flex-column align-items text-center justify-content">
			<h3 class="mb-5 text-danger">ATENCIÓN</h3>
			<p class="pb-3"><strong>¿Seguro que deseas eliminar tu perfil? No habrá vuelta atrás...</strong> </p>
			<div>
				<a th:href="@{/eliminarUsuario}" class="btn btn-danger">Confirmar</a>
				<a th:href="@{/}" class="btn btn-info">Volver</a>
			</div>
		</div>
		<div class="col-2"></div>
	</div>
	
	<div th:replace="usuarios/componentes :: footer"></div>
	
</body>
</html>