<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
​
<title>Registro</title>
​
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
​
<body class="zone1">
​
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="index.html">LucaTinder</a>
	</nav>
​    <div class="p-3 mb-2 bg-danger text-white">
		<table align="center">
			<form th:action="@{/saveUser}"  th:object="${user}"
				method="post">
				<tr>
					<td><input type="hidden" th:field="${user.id}" /></td>
				</tr>
				<tr>
					<td>Nombre</td>
					<td>Descripcion</td>
					<td>Edad</td>
					<td>Ciudad</td>
					<td>Sexo</td>
				</tr>
				<tr>
					<td><input type="text" th:field="${user.nombreUsuario}" th:value="${user.nombreUsuario}"/></td>
					<td><input type="text" th:field="${user.descipcionUsuario}" th:value="${user.descripsionUsuario}"/></td>
					<td><input type="text" th:field="${user.edadUsuario}" th:value="${user.EdadUsuario}"/></td>​
					<td><input type="text" th:field="${user.ciudadUsuario}" th:value="${user.ciudadUsuario}"/></td>
					<td>
					    <select th:field="${user.sexo}" th:value="${user.sexo}" >
					        <option type="text">Hombre</option>
					        <option type="text" >Mujer</option>
					    </select>
					</td>
				</tr>
				<tr align="center">
					<td colspan="3" ><input class="btn btn-primary" type="submit" value="GUARDAR"></td>
				</tr>

			</form>
		</table>

	</div>

</body>
</html>