<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>LUCA TINDER</title>
	
	<link href="..\static\css\bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link href="..\static\css\estilosPersonalizados.css" rel="stylesheet" th:href="@{/css/estilosPersonalizados.css}" />

</head>

<body>

	<div style="overflow:hidden;" th:replace="usuarios/componentes :: navBarNoUsuario"></div>
	<div style="overflow:hidden;" th:replace="usuarios/componentes :: header"></div>
	<div style="overflow:hidden;" th:replace="usuarios/componentes :: seccion"></div>
	<div style="overflow:hidden;" th:replace="usuarios/componentes :: formularios"></div>
	<div th:replace="usuarios/componentes :: footer"></div>
	 
	<script src="..\static\js\bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="js/propio.js"></script>
	
</body>
</html>