<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Lucatinder</title>

<link href="..\static\css\bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">LucaTinder</a>
	</nav>

	<main role="main" class="container">

	<div class="starter-template">
		<h1>Usuarios registrados</h1>
	</div>
	<div>
		<table class="table table-striped">
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Edad</th>
				<th>Localidad</th>
				<th>Sexo</th>
			</tr>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.nombreUsuario}">1</td>
				<td th:text="${usuario.descripcionUsuario}">1</td>
				<td th:text="${usuario.edadUsuario}">1</td>
				<td th:text="${usuario.ciudadUsuario}">1</td>
				<td><a><i th:if="${usuario.sexoUsuario}"
						class="fa fa-female"></i></a> <a><i
						th:if="${!usuario.sexoUsuario}" class="fa fa-male"></i></a></td>
			</tr>
		</table>


	</div>

	</main>
	<!-- /.container -->
	<!-- 
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	 -->
</body>
</html>