

  <div class="card text-center" style="max-width:400px;">
    <img  src="{{usuario.imagenUsuario}}" class="img-fluid card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{usuario.nombreUsuario}}</h5>
      <p class="card-text">{{usuario.descripcionUsuario}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{usuario.ciudadUsuario}}</li>
      <li class="list-group-item">{{usuario.sexoUsuario}}</li>
      <li class="list-group-item">{{usuario.edadUsuario}}</li>
    </ul> 
    <div class="card-body">
        <a style="color:blue" routerLink="/Modificar" class=" card-link fas fa-edit fa-2x" > </a> 
    </div>
  </div>
