<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
     <h1>LucaTinder</h1> 
    </div>

  
  
      <input type="text" id="login"  class="fadeIn second" placeholder="Nombre" (ngModel)="usuario">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"">
        <div *ngIf="f.username.errors.required">se requiere nombre de usuario para poder acceder</div>
      <input type="submit" class="fadeIn fourth" (click)="logIn()" value="Log In">
    


    <div id="formFooter">
      <a class="underlineHover" href="">Crear Cuenta</a>
    </div>

  </div>
</div>